
/* index */

body {
  color: silver;
  background: url(http://i.giphy.com/aRZ4vTsHnyW6A.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-text-size-adjust: 100%;
}

header {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font: 38px impact, sans-serif;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 20px;
  font: 24px "lucida console", monospace;
  transition: all .1s ease-in-out;
  &:hover {
    color: orange;
    cursor: pointer;
    transform: scale(1.01)
  }
}

/* home */

.youtube {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.twitter {
  float: right;
  margin-right: 50px;
}
