<div ng-controller="AboutCtrl" class="about">
  <header>
    <section class="titleAndNav">
      <h2 class="title">THE <span class="den">DEN</span> BROTHERS</h2>
      <nav>
        <ul>
          <li><a ng-click="go('/home')">home</a></li>
          <li><a ng-click="go('/about')">about us</a></li>
          <li><a ng-click="go('/contact')">contact</a></li>
        </ul>
      </nav>
    </section>
  </header>

  <section class="bandMems">
    <h2>Band Members</h2>
    <p>
      Tony Hernandez (Guitar/Vocals), Matthew Hernandez (Guitar/Vocals), Grant Vogenthaler (Drums), Paul Oviedo (Bass)
    </p>
  </section>
  <section class="bio">
    <h2>Who are we?</h2>
    <p>
      Influenced by no-nonsense rock bands like Led Zeppelin, The Foo Fighters, Oasis and The Black Keys, The Den Brothers have created their own brand of straight ahead rock n' roll that fuses the classic rock vibe with modern alternative influences. Brothers Matt and Tony Hernandez grew up in the small coastal town of Fort Bragg, CA, and have been writing music together from a very early age. Upon moving to San Francisco for school, the brothers roomed with So Cal native Grant Vogenthaler, sparking the creation of the musical venture out of curiosity and free time. Soon thereafter, Paul Oviedo took control of the low end and joined the band as the new bass player. After an immediate connection, the brothers' songwriting, which features catchy hooks, big riffs and emotionally driven lyrics, matched with Vogie's thunderous and untamed drumming style has led to a sound that is unique yet familiar, and is sure to leave a big impression on those who listen.
    </p>
  </section>
  <div class="photoContainer">
    <img src="../thedenbrothers.png"></img>
  </div>
</div>
